<!DOCTYPE html>
<html>
  <head>
    {%load static%}
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'food/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'food/login.css' %}"/>
  </head>
  <body>
    <div class="form-container">
      <div class="title-bar">
        Balance Life App
      </div>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Sign In">
      </form>
      <div class="registration-line">
        Don't have an account? <a href="{% url 'register' %}">Register</a>
      </div>
    </div>
  </body>
  
</html>
